* {
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --square-size: 50px;
    --marg-sqr: 7px;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    line-height: var(--square-size);
    font-size: 2em;
}

.sqr-color {
    background-color: #f3f3f3;
    color: #345;
}

.floor {
    margin-right: var(--marg-sqr);
    margin-left: var(--marg-sqr);
    margin-top: var(--marg-sqr);
    background-color: #9c9a97;
}

.sqr-panel {
    position: relative;
    top: 50px;
    left: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #666;
    padding: 3px;
    /*calculate the size of the squares and his margins*/
    width: calc(calc(var(--square-size) *4) + calc(var(--marg-sqr) * 2)* 4 + 5px);
    height: calc(calc(var(--square-size) *4) + calc(var(--marg-sqr) * 2) * 4 + 5px);
}


/*TODO make a way to change colro from white to red,orange, yellow,and legendari colours*/