* {
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --square-size: 50px;
    --marg-sqr: 7px;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    text-align: center;
    line-height: var(--square-size);
    font-size: 35px;
}

.sqr-color {
    background-color: #f3f3f3;
    color: #345;
}

.floor {
    margin: var(--marg-sqr);
    background-color: #9c9a97;
    border-radius: 3px;
}

.sqr-panel {
    position: relative;
    top: 50px;
    left: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #666;
    border-radius: 3px;
    padding: 3px;
    /*calculate the size of the squares and his margins*/
    width: calc(var(--square-size)*5 + var(--marg-sqr));
    height: calc(var(--square-size)*5 + var(--marg-sqr));
}


/*TODO make a way to change color from white to red,orange, yellow,and legendari colours*/