* {
    font-size: 15px;
    font-family: sans-serif;
}

:root {
    --square-size: 50px;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    background-color: #f3f3f3;
    color: #345;
    text-align: center;
    line-height: var(--square-size);
    font-size: 2em;
}